:root {
  --color-black: black;
  --color-white: white;
  --color-grey: grey;
  --color-orange: orange;
  --color-purple: purple;
  --color-violet: #2A254B
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
